{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <h4 id="admin_list_h4">Ваши заказы</h4>
    <table id="user_order_list" cellspacing="0">
        <tr>
            <th>Номер заказа</th>
            <th>Дата оформления</th>
            <th>Товары в заказе</th>
            <th>Статус заказа</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>
                    {% for product in order.productsEntity %}

                        <a href="{{ path('product.view', {'id': product.id}) }}">{{ product.name }}</a>
                        <span>Кол-во: </span> {{ product.count }}
                        <span>Сумма: </span> {{ product.sum }}
                        </br>
                    {% endfor %}
                </td>
                <td>{{ order.status }}</td>
            </tr>
        {% endfor %}
        <tr class="total_price">
            <td colspan="4"><span>Сумма заказа: $</span></td>
        </tr>
    </table>
{% endblock %}
