{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="single_product">
        <div class="product_info">
            <div class="single_product_img">
                <img alt="" width="266px" src="{{ asset('uploads/products/' ~ product.image) }}" />
            </div>
            <div class="single_product_details">
                <div class="single_product_details_main">
                    <h2>{{ product.name }}</h2>
                    <p class="code">Код товара: {{ product.code }}</p>
                    <p class="item_price">{{ product.price }} руб</p>
                    <div id="input_div">
                        <a href="{{ path('cart.add', {'id': product.id}) }}" class="to_cart" data-id="{{ product.id }}">
                            В корзину
                        </a>
                    </div>
                    <p><b>Наличие:</b> {{ product.availability }} шт.</p>
                </div>
            </div>
        </div>
        <div class="product_description">
            <h3>Описание товара</h3>
            <p>
                {{ product.description }}
            </p>
        </div>
    </div>
{% endblock %}
