{% extends 'admin/base.html.twig' %}

{% block title %}Admin Category{% endblock %}

{% block body %}
    <div class="container_admin">
        <h4 id="admin_list_h4">Список категорий</h4>
        <a href="{{ path('admin.category.add') }}" class="add_cat">
            Добавить категорию
        </a>
        <table id="admin_product_list" cellspacing="0">
            <tr>
                <th>ID категории</th>
                <th>Название категории</th>
                <th>Просмотр</th>
                <th>Редакт.</th>
            </tr>

            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td><a title="Редактировать" href="{{ path('admin.category.edit', {"id": category.id}) }}" class="del">
                            <img src="{{ asset('images/edit.png') }}" alt="">
                        </a></td>
                    <td><a title="Удалить" href="{{ path('admin.category.delete', {"id": category.id}) }}" class="del">
                            <img src="{{ asset('images/del.png') }}" alt="">
                        </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
