{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}
    <div class="sidebar">
        <h2>Категории</h2>
        <ul class="left_sidebar">
            {% for category in categories %}
                <li>
                    <a href="{{ path('catalogue', {'id': category.id}) }}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!--main content-->
    <div class="content">
        <div class="features_items">
            <h2>Последние товары</h2>
            {% for product in products %}
                <div class="item">
                    <a target="_blank" href="#">
                        <img width="268px" height="249px" alt=""
                             src="image"/>
                    </a>
                    <p class="item_price">{{ product.price }} rub</p>
                    <a target="_blank" href="{{ path('product.view', {'id': product.id }) }}">
                        <p class="item_name">{{ product.name }}</p>
                    </a>
                    <a href="#" class="to_cart" data-id="{{ product.id }}">
                        В корзину
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
