{% extends 'base.html.twig' %}

{% block title %}Добро пожаловать!{% endblock %}

{% block body %}
    <div class="sidebar">
        {% include('include/category.html.twig') %}
    </div>
    <div class="content">
        <div class="features_items">
            <h2>Последние товары</h2>
            {% for product in products %}
                <div class="item">
                    <a href="{{ path('product.view', {'id': product.id}) }}">
                        <img width="268px" height="249px" alt=""
                             src="{{ asset('uploads/products/' ~ product.image) }}"/>
                    </a>
                    <p class="item_price">{{ product.price }} руб</p>
                    <a href="{{ path('product.view', {'id': product.id }) }}">
                        <p class="item_name">{{ product.name }}</p>
                    </a>
                    <a href="{{ path('cart.add', {'id': product.id}) }}" class="to_cart" data-id="{{ product.id }}">
                        В корзину
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
