{% extends 'admin/base.html.twig' %}

{% block title %}Admin Product{% endblock %}

{% block body %}
    <div class="container_admin">
        <h4 id="admin_list_h4">Список товаров</h4>
        <a href="{{ path('admin.product.add') }}" class="add_item">
            Добавить товар
        </a>
        <table id="admin_product_list" cellspacing="0">
            <tr>
                <th>id товара</th>
                <th>Название</th>
                <th>Код товара</th>
                <th>Стоимость, руб.</th>
                <th>Описание</th>
                <th>Остаток, шт.</th>
                <th>Дата</th>
                <th>Категория</th>
                <th>Редакт.</th>
                <th>Удалить</th>
            </tr>

            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.availability }}</td>
                    <td>{{ product.createdAt|date("Y-m-d H:i:s") }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>
                        <a title="Редактировать" href="{{ path('admin.product.edit', {"id": product.id}) }}" class="del">
                            <img src="{{ asset('images/edit.png') }}" alt="">
                        </a>
                    </td>
                    <td>
                        <a title="Удалить" href="{{ path('admin.product.delete', {"id": product.id}) }}" class="del">
                            <img src="{{ asset('images/del.png') }}" alt="">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
